* {
  box-sizing: border-box;
  color: #fff;
}
button {
  color: #000;
  cursor: pointer;
}
input {
  outline: none;
  color: #000;
}
img {
  height: 100px;
}
body {
  min-width: 100vw;
  background-color: rgb(77, 51, 51);
  padding: 1rem;
}

h1,
p {
  margin: 0;
}

.table {
  display: grid;
  gap: 4px;
  padding: 1rem;
  min-width: 100%;
}

.descendent {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 0.5rem;
}
.descendent__childrens {
  display: grid;
  gap: 4px;
  min-width: fit-content;
}
.element {
  display: flex;
}
.noDescendent {
  background-color: rgba(0, 0, 255, 0.192);
  width: fit-content;
  padding: 0 4px;

}
abbr {
  background-color: rgba(30, 39, 48, 0.747);
}
.father,
abbr {
  min-width: fit-content;
  text-decoration: none;
  padding: 0 4px;
}

.typeData {
  color: rgb(255, 107, 107);
}